@import './variables.scss';
@import './globals.scss';
@import './block.scss';

.holder-img {
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex; justify-content: center;
    align-items: center;
}
.holder-img__image {
    width: 100%;
    margin: $textPadding;
}
.holder-img__load {
    position: absolute;
}
.pulse {
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 48px;
  position: relative;
}

.pulse:before, .pulse:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.5s linear infinite;
}
.black:before, .black:after {
    border: 1px solid black;
}
.white:before, .white:after {
    border: 1px solid white;
}
.pulse:after {
  animation-delay: 0.5s;
}
@keyframes pulse {
  0% { transform: scale(0.5); opacity: 0 }
  50% { transform: scale(1); opacity: 1 }
  100% { transform: scale(1.2); opacity: 0 }
}

.load_btn {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 2.5rem;
}
.grid {
    display: flex; flex-wrap: wrap;
    width: 100%; gap: 25px;
    justify-content: center;
}
.filter_btns {
    display: flex; justify-content: center;
    gap: 10px;
}
.filter_btns__btn {
   border-radius: 5px;
   overflow: hidden;
   position: relative;
   width: 100px;
   height: 50px;
}
.filter_btns__btn p {
  position: relative;
  pointer-events: none;
}
.filter_btns__btn span {
  content: "";
  position: absolute;
  width: 150px; height: 150px;
  background: rgb(92, 163, 255); 
  z-index: 0;
  margin-left: -75px;
  margin-top: -60px;
  visibility: hidden;
  transform: scale(0.01);
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.5;
}